@media only screen and (max-width: 426px) and (min-width: 320px) {
  .mobileMenu {
    display: block;
    width: 280px;
    height: 200px;
    /* background-color: #8a2be2; */
    text-align: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 200;
  }

  .mobileMenu i {
    font-size: 25px;
    margin-top: 35px;
  }

  .mobileBox {
    position: absolute;
    margin-top: 40px;
    margin-right: 20px;
    flex-direction: column;
    background-color: white;
    width: 320px;
    padding-left: 30px;
    box-shadow: 10px 10px 10px black;
    visibility: hidden;
    z-index: 200;
  }

  .showMobile {
    visibility: visible;
  }

  .topContent {
    flex-direction: column;
    /* position: fixed; */
    padding-left: 0;
  }

  .topContent img {
    height: 40px;
    width: 160px;
    padding-left: 30px;
  }

  .techDropdown,
  .referenceGuidesDropdown,
  .feedbackDropdown {
    order: 2;

    z-index: 200;
  }

  .feedbackDropdown {
    margin-bottom: 10px;
  }

  .searchMDNBox {
    flex-direction: column;
    order: 1;
    /* display: none; */
  }

  .searchMDNBox i {
    right: 45%;
  }

  .signIn {
    display: none;
  }

  .dropDownContent {
    width: 320px;
    position: relative;
    right: 30px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    padding: 5px 30px;
  }

  .pathwayStrip {
    width: 320px;
  }

  #pathway1,
  #pathway1a,
  #pathway2,
  #pathway2a,
  #pathway3,
  #pathway3a,
  #pathway4,
  #pathway4a,
  #pathway6,
  #pathway7 {
    display: none;
  }

  #pathway5 {
    display: block;
  }

  .changeLang {
    margin-left: 180px;
  }

  .changeLang a {
    display: none;
  }

  .mainContent {
    flex-direction: column-reverse;
  }

  .tableContent {
    display: none;
  }

  .rightSideContent h1 {
    font-size: 25px;
  }

  .rightSideContent h2 {
    font-size: 20px;
  }

  .rightSideContent h3 {
    font-size: 20px;
  }

  .rightSideContent p {
    width: 100%;
  }

  .demoTitle p {
    font-size: 12px;
  }

  .codeBox {
    overflow-x: scroll;
  }

  .codeBox code {
    margin-bottom: 5px;
    width: 700px;
  }

  .copyClipboard {
    position: relative;
    right: 240%;
    text-align: left;
  }

  .objectSyntax .copyClipboard {
    right: 145%;
  }

  .copyClipboard i {
    text-align: left;
  }

  .textBubble {
    position: relative;
    right: 40px;
  }

  .browserLink {
    margin-left: 0px;
    margin-bottom: 20px;
    width: 270px;
  }

  .compatPic {
    display: none;
  }

  .mobilePic {
    display: block;
  }

  .problems {
    height: 480px;
    width: 320px;
    position: relative;
    right: 35px;
  }

  .seeAlsoList li {
    line-height: 18px;
  }

  .langDropdown {
    flex-direction: column;
  }

  .whatLang {
    margin-bottom: 10px;
  }

  .changeBtn {
    margin-left: 0px;
  }

  .changeBtn p {
    margin-left: 0px;
  }

  .bookyList li {
    font-size: 12px;
  }

  .footerContent {
    height: 800px;
    width: 320px;
  }

  .footerContent img {
    height: 8%;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .links {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .links p {
    margin-bottom: 10px;
  }

  .mobileContents {
    display: block;
    padding: 30px;
    padding-bottom: 0;
  }

  .mobileTableTitle {
    display: flex;
  }

  .mobileTableTitle a {
    margin-left: 5px;
  }

  .mobileTableList {
    margin-top: 10px;
    border: 1px solid blue;
    padding: 15px;
    width: 200px;
    position: absolute;
    background-color: #fff;
    display: none;
  }

  .mobileTableList ul li {
    margin-bottom: 20px;
  }
}

/* MOBILE MEDIUM SIZING */

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .mobileMenu {
    width: 330px;
    /* background-color: #8a2be2; */
  }

  .mobileBox {
    width: 375px;
  }

  .topContent img {
    width: 180px;
  }

  .searchMDNBox input {
    width: 300px;
  }

  .searchMDNBox i {
    right: 38%;
  }

  .pathwayStrip {
    width: 375px;
  }

  .changeLang {
    margin-left: 230px;
  }

  .copyClipboard {
    right: 170%;
  }

  .objectSyntax .copyClipboard {
    right: 100%;
  }

  .problems {
    width: 376px;
  }

  .lastMod {
    margin-left: 5px;
  }

  .footerContent {
    height: 800px;
    width: 375px;
  }

  .footerContent img {
    height: 10%;
  }
}
