* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.topContent img {
  height: 60px;
  width: 500px;
  margin-right: 30px;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

li {
  list-style: none;
  display: none;
}

.topContent {
  display: flex;
  margin-bottom: 50px;
  padding: 30px;
}

.titleDropDown {
  display: flex;
  width: 300px;
  margin-top: 25px;
}

.titleDropDown p {
  font-size: 16px;
  padding-left: 5px;
  user-select: none;
}

.titleDropDown i {
  padding-top: 5px;
}

.refDrop {
  margin-left: 60px;
  width: 500px;
}

.feedDrop {
  margin-left: 50px;
}

.techDrop:hover,
.refDrop:hover,
.feedDrop:hover {
  cursor: pointer;
}

.dropDownContent {
  display: none;
  font-size: 14px;
  /* margin-left: 20px; */
  font-weight: 900;
  color: rgba(54, 85, 224, 0.904);
  border: 1px solid black;
  border-radius: 5px;
  line-height: 35px;
  box-shadow: 5px 5px 10px black;
  user-select: none;
  position: absolute;
  z-index: 10;
  height: 450px;
  width: 200px;
  padding: 15px 0px;
  opacity: 100%;
}

.dropDownContent p {
  padding: 5px;
}

.refContent {
  height: 350px;
  margin-left: 60px;
}

.feedContent {
  height: 200px;
  margin-left: 50px;
}

.dropDownContent:hover {
  cursor: pointer;
}

.dropDownContent p:hover,
.firstTech,
.firstRef,
.firstFeed {
  background-color: rgba(54, 85, 224, 0.904);
  color: white;
  position: relative;
}

.show {
  display: block;
}

.searchMDNBox {
  margin-top: 5px;
  /* background-color: violet; */
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  position: relative;
}

.searchMDNBox input {
  margin-top: 10px;
  border-color: black;
  width: 900px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}

.searchMDNBox i {
  position: absolute;
  right: 25%;
  top: 35%;
  font-size: 20px;
}

.signIn {
  font-size: 16px;
  width: 200px;
  margin-top: 15px;
  margin-left: 20px;
}

.pathwayStrip {
  background-color: #eee;
  padding: 15px;
  display: flex;
}

.pathwayStrip p,
.pathwayStrip i {
  margin-right: 10px;
}

.pathwayStrip img {
  height: 40px;
  width: 40px;
}

.changeLang {
  display: flex;
  /* justify-content: space-around; */
}
